.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 250px;
}

mat-sidenav-content {
  height: 100vh;
}

mat-sidenav-container{
  height: 100vh;
}

.title {
  height: 500px;
}

.toolbar-menu {
  position: fixed;
  font-size: 1rem;
  top: 0;
}

.toolbar-submenu {
  height: 100px;
  font-size: 2rem;
  margin-top: 60px;
}

.toolbar-menu__shadow {
  box-shadow: 0px 5px 5px #666;
}
